body {
    background-color: lightgray;
}
h1 {
    color: red; 
    font-size: 50px;
    font-family: bold;
}
.p1 {
    background-color: lime;
}
.p2 {
    background-color: blue;
    color: white;
}
.blockquote1 {
    border-radius: 5px;
    border-style: solid;
    color: yellow;
}